@using ViewModels
@page "/"

<h1>Order</h1>
<CascadingValue Value="@Order">
    <BillingAddress />
    <ShippingAddress />
</CascadingValue>

<h1>Order Summary</h1>

<p>Billing Addreess is:-</p>
<address>@Order.BillingAddressText</address>

<p>Shipping Addreess is:-</p>
<address>@Order.ShippingAddressText</address>

@code {
    Order Order = new();

    protected override Task OnInitializedAsync()
    {
        this.Order.OrderChanged += this.OnOrderChanged;
        return base.OnInitializedAsync();
    }

    private void OnOrderChanged(object sender, EventArgs e)
        => InvokeAsync(StateHasChanged);

    public void Dispose()
        => this.Order.OrderChanged -= this.OnOrderChanged;
}
