@page "/"

<h1>Order</h1>

<BillingAddress Order=@Order />

<ShippingAddress Order=@Order />

<h1>Order Summary</h1>

<p>Billing Addreess is:-</p>
<address>@Order.BillingAddressText</address>

<p>Shipping Addreess is:-</p>
<address>@Order.ComputedShippingAddressText</address>

@code {
    private Order Order = new();
}