@page "/"

<h1>Order</h1>

<BillingAddress @bind-BillingAddressText=@Order.CurrentBillingAddress />

<ShippingAddress @bind-ShippingAddressText=@Order.CurrentShippingAddress ComputedShippingAddressText=@Order.ComputedShippingAddressText />

<h1>Order Summary</h1>

<p>Billing Addreess is:-</p>
<address>@Order.CurrentBillingAddress.BillingAddressText</address>

<p>Shipping Addreess is:-</p>
<address>@Order.ComputedShippingAddressText</address>

@code {
    private Order Order = new();
}