@page "/"

<h1>Order</h1>

<BillingAddress CurrentBillingAddress=@CurrentOrder.CurrentBillingAddrees CurrentShippingAddress=@CurrentOrder.CurrentShippingAddress />

<ShippingAddress CurrentShippingAddress=@CurrentOrder.CurrentShippingAddress CurrentBillingAddress=@CurrentOrder.CurrentBillingAddrees />

<h1>Order Summary</h1>

<p>Billing Addreess is:-</p>
<address>@CurrentOrder.CurrentBillingAddrees.BillingAddressText</address>

<p>Shipping Addreess is:-</p>
<address>@CurrentOrder.CurrentShippingAddress.ShippingAddressText</address>

@code {
    [Inject]
    public Order CurrentOrder { get; set; }
}