<h3>Billing Address</h3>

<textarea @bind=@CurrentBillingAddress.BillingAddressText />
<address>@CurrentBillingAddress.BillingAddressText</address>

@code {
    [Parameter]
    public Order.BillingAddress CurrentBillingAddress { get; set; }
}