@using ViewModels
<h3>Billing Address</h3>

<textarea @bind="@Order.BillingAddressText" @bind:event="oninput" />
<address>@Order.BillingAddressText</address>

@code {
    [CascadingParameter]
    public Order Order { get; set; }
}