<h3>Billing Address</h3>

<textarea value="@CurrentBillingAddress.BillingAddressText" @onchange="(args)=>Update(args)" />
<address>@CurrentBillingAddress.BillingAddressText</address>

@code {
    [Parameter]
    public Order.BillingAddress CurrentBillingAddress { get; set; }

    [Action]
    void Update(ChangeEventArgs args)
    {
        CurrentBillingAddress.BillingAddressText = args.Value.ToString();
    }
}