<h3>Shipping Address</h3>

<input type="checkbox" @bind="@Order.SameAsBillingAddress" /> Same as Billing Address
<br />
<textarea value="@Order.ComputedShippingAddressText" @onchange="(args)=>Update(args)" disabled="@Order.SameAsBillingAddress" />
<address>@Order.ComputedShippingAddressText</address>

@code {

    [Parameter]
    public Order Order { get; set; }

    [Action]
    void Update(ChangeEventArgs args)
    {
        Order.ShippingAddressText = args.Value.ToString();
    }
}