<h3>Shipping Address</h3>

<input type="checkbox" @bind="@CurrentShippingAddress.SameAsBillingAddress" /> Same as Billing Address
<br />
<textarea @bind="@CurrentShippingAddress.ShippingAddressText" disabled="@CurrentShippingAddress.SameAsBillingAddress" />
<address>@CurrentShippingAddress.ShippingAddressText</address>

@code {
    [Parameter]
    public Order.ShippingAddress CurrentShippingAddress { get; set; }
}