@using ViewModels 
<h3>Shipping Address</h3>

<input type="checkbox" @bind="@Order.SameAsBillingAddress" /> Same as Billing Address
<br />
<textarea @bind="@Order.ShippingAddressText" @bind:event="onchange" disabled="@Order.SameAsBillingAddress" />
<address>@Order.ShippingAddressText</address>

@code {

    [CascadingParameter]
    public Order Order { get; set; }
}