<h3>Shipping Address</h3>

<input type="checkbox" value="@CurrentShippingAddress.SameAsBillingAddress" @onchange="(args)=>UpdateSameAsBilling(args)" /> Same as Billing Address
<br />
<textarea value="@ComputedShippingAddressText" @onchange="(args)=>Update(args)" disabled="@CurrentShippingAddress.SameAsBillingAddress" />
<address>@ComputedShippingAddressText</address>

@code {

    [Parameter]
    public Order.ShippingAddress CurrentShippingAddress { get; set; }

    [Parameter]
    public string ComputedShippingAddressText { get; set; }

    [Action]
    void Update(ChangeEventArgs args)
    {
        CurrentShippingAddress.ShippingAddressText = args.Value.ToString();
    }
    [Action]
    void UpdateSameAsBilling(ChangeEventArgs args)
    {
        CurrentShippingAddress.SameAsBillingAddress = (bool)args.Value;
    }

}