@using Services

<h3>Shipping Address</h3>

<input type="checkbox" @bind-value="@OrderService.SameAsBillingAddress" /> Same as Billing Address
<br />
<textarea @bind="@OrderService.ShippingAddress" disabled="@OrderService.SameAsBillingAddress" />
<address>@OrderService.ShippingAddress</address>

@code {

    [Inject] OrderService OrderService { get; set; }
    protected override Task OnInitializedAsync()
    {
        this.OrderService.OrderChanged += this.OnOrderChanged;
        return base.OnInitializedAsync();
    }

    private void OnOrderChanged(object sender, EventArgs e)
        => InvokeAsync(StateHasChanged);

    public void Dispose()
        => this.OrderService.OrderChanged -= this.OnOrderChanged;
}