<h3>Shipping Address</h3>

<input type="checkbox" value="@sameAsBillingAddress" @onchange="SameAsBillingAddressChanged" /> Same as Billing Address
<br />
<textarea @bind="@ShippingAddressText" @bind:event="oninput" @onchange="(args)=>Update(args)" disabled="@sameAsBillingAddress" />
<address>@ShippingAddressText</address>

@code {

    string shippingAddressText;
    [Parameter]
    public string ShippingAddressText
    {
        get
        {
            return shippingAddressText;
        }
        set
        {
            shippingAddressText = value;
            if (sameAsBillingAddress)
            {
                shippingAddressText = billingAddressText;
            }
        }
    }

    string billingAddressText;
    [Parameter]
    public string BillingAddressText
    {
        get
        {
            return billingAddressText;
        }
        set
        {
            billingAddressText = value;
            if (sameAsBillingAddress)
            {
                shippingAddressText = billingAddressText;
            }
        }
    }

    [Parameter]
    public EventCallback<string> ShippingAddressTextChanged { get; set; }

    bool sameAsBillingAddress;
    private async Task SameAsBillingAddressChanged(ChangeEventArgs args)
    {
        sameAsBillingAddress = (bool)args.Value;
        if (sameAsBillingAddress)
        {
            await ShippingAddressTextChanged.InvokeAsync(billingAddressText);
        }
    }

    private async Task Update(ChangeEventArgs args)
    {
        await ShippingAddressTextChanged.InvokeAsync(args.Value.ToString());
    }
}