<h3>Shipping Address</h3>

<input type="checkbox" value="@sameAsBillingAddress" @onchange="SameAsBillingAddressChanged" /> Same as Billing Address
<br />
<textarea value="@ShippingAddressText" @onchange="Update" disabled="@sameAsBillingAddress" />
<address>@ShippingAddressText</address>

@code {

    [Parameter]
    public string ShippingAddressText { get; set; }

    string billingAddressText;
    [Parameter]
    public string BillingAddressText
    {
        get => billingAddressText;

        set
        {
            if (billingAddressText == value) return;

            billingAddressText = value;
            if (sameAsBillingAddress)
            {
                ShippingAddressText = billingAddressText;
                ShippingAddressTextChanged.InvokeAsync(ShippingAddressText);
            }
        }
    }

    [Parameter]
    public EventCallback<string> ShippingAddressTextChanged { get; set; }

    bool sameAsBillingAddress;
    private async Task SameAsBillingAddressChanged(ChangeEventArgs args)
    {
        sameAsBillingAddress = (bool)args.Value;
        if (sameAsBillingAddress)
        {
            await ShippingAddressTextChanged.InvokeAsync(billingAddressText);
        }
    }

    private async Task Update(ChangeEventArgs args)
    {
        ShippingAddressText = args.Value.ToString();
        await ShippingAddressTextChanged.InvokeAsync(ShippingAddressText);
    }
}