<h3>Shipping Address</h3>

<input type="checkbox" value="@Order.SameAsBillingAddress" @onchange="(args)=>UpdateSameAsBilling(args)" /> Same as Billing Address
<br />
<textarea value="@Order.ComputedShippingAddressText" @onchange="(args)=>Update(args)" disabled="@Order.SameAsBillingAddress" />
<address>@Order.ComputedShippingAddressText</address>

@code {

    [Parameter]
    public Order Order { get; set; }

    [Action]
    void Update(ChangeEventArgs args)
    {
        Order.ShippingAddressText = args.Value.ToString();
    }
    [Action]
    void UpdateSameAsBilling(ChangeEventArgs args)
    {
        Order.SameAsBillingAddress = (bool)args.Value;
    }

}